{% load static %}

<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}学生成绩管理系统{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 自定义 CSS -->
    <link rel="stylesheet" href="{% static 'css/basestyle.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
<div class="wrapper d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'class_list' %}">学生成绩管理系统</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="切换导航">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'class_list' %}">班级列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_list' %}">学生列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'exam_list' %}">考试列表</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
            <!-- 内容将会在这里渲染 -->
        {% endblock %}
    </div>

    <footer class="text-center mt-4 mb-3">
        <p>&copy; {{ current_year }} 成绩管理系统 | 由灰太狼设计</p>
    </footer>
</div>
<!-- Bootstrap JS and dependencies (optional) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gyb1440I7fD1e+gRY823aIHgFJZ5P3m7To7E3CBLf9MIAdL2RY"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>

</html>
